$sidebar: #bbb;
$sidebar-shadow: #aaa;
$sidebar-hover: #999;
$sidebar-active: #777;
@mixin unclickable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin icon-button($selector, $col) {
  #{$selector} {
    color: $col;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    @include unclickable;

    
    &:hover {
      background-color: rgba($col, .5);
      cursor: pointer;
    }
    &:active {
      background-color: $col;
      opacity: 1;
    }
  }
}

@mixin delete-button($selector) {
  @include icon-button($selector, #f00)
}
@mixin move-button($selector) {
  @include icon-button($selector, #bbb)
}